{{!-- this is the new navbar  --}}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg rounded">
    <a class="navbar-brand " href="#">Tasker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

            <form class="form-inline my-2 my-lg-0" id="searchDirectory">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0  text-white " id="searchDirectory" href="/directory" type="submit">Search</button>
                <button class="btn btn-outline-success my-3 ml-2 my-sm-0 text-white logOut text">Log Out</button>
            </form>


    </div>
</nav>

{{!-- Display Serach Result --}}

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <div class="card-title">{{full_name}}</div>
            <p class="card-text"> {{phone_number}} {{email}}</p>
            </div>
        </div>
    </div>
</div>

<script src="../public/directory.js"></script>
